*.swp
**/\.vscode/
**/\.vs/
**/obj/
**/bin/
**/\.idea/
**/migrations/Sqlite*
**/Migrations/Sqlite*
**/Logs/*
**/images/
html/
doxygen*
**/wwwroot/Logs/*
**/wwwroot/logs/*
*.userprefs

# .NET-core
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
GirafRest.Test/bin/*
GirafRest.Test/obj/*

out
*.db
*.user
*.sln
appsettings.json
appsettings.Development.json
scripts/*.bak

*.pyc
**/__pycache__
GirafIntegrationTest/venv/
GirafIntegrationTest/cookie
**/.DS_Store

pictograms/
GirafRest/wwwroot/DebugLogs/*
GirafRest.Test/coverage.json
