*.swp
**/\.vscode/
**/\.vs/
**/obj/
**/bin/
**/\.idea/
**/migrations/Sqlite*
**/Migrations/Sqlite*
**/Logs/*
**/images/
html/
doxygen*
**/wwwroot/Logs/*
**/wwwroot/logs/*
*.userprefs

# .NET-core
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

out
*.db
*.user
*.sln
appsettings.json
appsettings.Development.json
Dockerfile

scripts/*.bak

*.pyc
**/__pycache__
GirafIntegrationTest/venv/
GirafIntegrationTest/cookie
