*.swp
GirafWebApi/GirafWebApi/.vscode/
GirafWebApi/.vs/
GirafWebApi/GirafWebApi/obj/
GirafWebApi/GirafWebApi/bin/
GirafWebApi/GirafWebApi/.idea/
GirafWebApi/migrations/
GirafWebApi/Migrations/
GirafRest/bin/
GirafRest/obj/
GirafRest/.vscode/
GirafRest/.vs/
GirafRest/.idea/
GirafRest/Migrations/
GirafWebApi/
