body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#app {
    /* The image used */
    background-image: url("/admin/img/giraf.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

*{margin: 0; padding: 0; border: 0; outline: 0;}

#header{
    width: 100%;
    text-align: center;
    padding: 10px;
    color: black;
    color: white;
    font-size: 30px;
    background-color:#2F4F4F ;
}

h1{
    padding: 1vh;
    font-size: 0.5vh;
}

.center {
    text-align: center;
}

#container {
    width: 100%;
    height: 90vh;
    margin-right: auto;
    margin-left: auto;
}

#container h1{
    color: 	black;
}

#title {
    font-size: 2vh;
}

#title > h2{
    margin: 0px;
    margin-top: 10px;
}

#main {
    margin-left: 25vh;
    padding: 10px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
}

.list {
    margin-top: 5px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.list > .item {
    width: 100%;
    font-size: 20px;
    border-top: 1px solid lightgray;
}

.bg-overlay {
    
}

#content {
    position: absolute;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
}

#footer{
    position: absolute;
     bottom: 0px;
     text-align: center;
     width: 100%;
     height: 7vh;
     background-color: 	#2F4F4F;
}

#footer p{
    padding-top: 2.5vh; 
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    position:absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom 0px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
.form {
    box-shadow: grey 0px 0px 2px 2px;
    border-radius: 2px;
    position: relative;
    background: #2F4F4F;
    padding: 3vh;
}
.form input {
  background: white;
  width: 100%;
  border: 0;
  margin: 0 0 2vh;
  padding: 2vh 0px;
  text-indent: 10px;
  font-size: 1.5vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.form .message {
  margin: 15px 0 0;
  color: lightgrey;
  font-size: 12px;
}
.form .message a {
  color: #ffd268;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.errorMessage {
    visibility: collapse;
    color: #ff6c00;
    font-size: 1.5vh;
    text-decoration: underline;
}

#sidebar{
    width: 25vh;
    background-color: rgb(47, 109, 109);
    height: 100%;
    float:left;
}

#sidebar > .item {
    font-size: 20px;
    cursor: pointer;
    color: white;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#sidebar > .item:hover {
    background-color: rgb(60, 120, 140);
}
    