<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Giraf Web Applikation</title>
</head>

<body>
    <div id="container">
        <div id="header">
        </div>

        <div id="sidebar">
            
        </div>

        <div id="title">
            <h1>Din forside</h1>
        </div>


        <div id="footer">
            <p>Copyright &copy; 2018 Giraf</p>
        </div>
    </div>
 </body>