<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Giraf Web Applikation</title>
</head>
<body>
    <div id="container">
        <div id="header">
        </div>

        <div id="title">
            <h1>Velkommen til Giraf Administrations side</h1>
        </div>

        <div id="content">
            <div class="login-page">
                <div class="form">
                    <form id="loginForm">
                        <input type="text" placeholder="brugernavn" name="username"/>
                        <input type="password" placeholder="kodeord" name="password"/>
                        <input type="submit" value="Login"/ id="submitLogin">
                        <div class="message" id="loginErrorMsg">Forkert kodeord eller adgangskode prøv venligst igen</div>
                        <p class="message"><font color="#ffd268">OBS:</font> Ved glemt kodeord få kollega eller administrator til at nulstille dit kodeord</p>
                    </form>
                </div>
            </div>
        </div>

        <div id="footer">
            <p>Copyright &copy; 2018 Giraf</p>
        </div>
    </div>

    <script>

    

        $("#loginForm").submit(function (event) {

            var loginurl = "http://web.giraf.cs.aau.dk:5000/v1/Account/login";

            var formDataAsArray = $('form').serializeArray();


            function formDataToJson(array) {
                var result_dir= {};

                array.forEach(el => {
                    result_dir[el['name']] = el['value'];
                });

                return result_dir;
            }
            var data = JSON.stringify(formDataToJson(formDataAsArray));

            console.log(data);

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: loginurl,
                dataType: "json",
                data: data, 
                success: function (data) {
                   if (!data.success) {
                       $("#loginErrorMsg").css('visibility','visible')
                   }
                   else{
                       window.location.replace("home.html");
                   }
                }
            });

            event.preventDefault();
            });
    </script>
</body>
</html>