<form method="post" action="/v1/Account/reset-password">
    New password:
    <input type="password" name="password" id="password" required minlength=8> <br>
    <input type="hidden" name="code" id="code">
    <input type="submit">
</form>
<input id="checkboxHiddenPassword" type="checkbox" checked/>
<label for="checkboxHiddenPassword">Hide password</label>

<script type="text/javascript">
document.getElementById('checkboxHiddenPassword').onclick = function() {hideUnhidePassword()}

function hideUnhidePassword() {
    document.getElementById('code').value = new URL(window.location.href).searchParams.get("code");
    passwordField = document.getElementById('password')
    checkbox = document.getElementById('checkboxHiddenPassword')

    if(checkbox.checked){
        passwordField.type = "password";
    } else {
        passwordField.type = "text";
    } 
}
</script>
