@{
    ViewData["Title"] = "Nulstil kodeord";
}

<h1>@ViewData["Title"].</h1>
<p>
    Dit kodeord blev nulstillet og du kan nu logge ind igen med det nye.
</p>
<p>
    <img src="~/images/soed_kat.jpg" , alt="Sød kat" />
</p>
