<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
</head>
<body>
    <div id="app">
        <v-app id="inspire">
            <v-navigation-drawer
            fixed
            v-model="drawer"
            app
            >
            <v-list dense>
                <v-list-tile v-for="page in pages" :key="page.name" @click="pageSelected(page)">
                    <v-list-tile-action>
                        <v-icon v-text="page.icon"></v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title v-text="page.title"></v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            </v-navigation-drawer>
            <v-toolbar color="primary" dark fixed app>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title v-text="currentPage.title"></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-title v-text="username + ' (' + roleString(role) + ')'"></v-toolbar-title>
            </v-toolbar>
            <v-content>
                <v-container fluid fill-width>
                    <v-layout row wrap v-if="!atPage('departments') && role == 'SuperUser'">
                        <v-flex xs6>
                            <v-subheader style="margin-top: 10px;" class="bold">Vælg Afdeling:</v-subheader>
                        </v-flex>
                        <v-flex xs6>
                            <v-select
                            :items="departments"
                            item-text="name"
                            item-value="id"
                            v-model="departmentId"
                            @change="departmentChanged($event)"
                            label="Afdeling"
                            single-line
                            ></v-select>
                        </v-flex>
                    </v-layout>
                    <names-page v-if="atPage('citizens') && departmentId != null" 
                        :loading="citizensLoading"
                        v-on:add="addCitizen($event)" 
                        nameproperty="userName" 
                        idproperty="userId" 
                        deletetitle="Fjern Borger" 
                        v-on:delete="deleteCitizen($event)" 
                        v-on:update="updateCitizen($event)" 
                        addtitle="Opret Borger" 
                        haspassword="false" 
                        edittitle="Rediger Borger" 
                        v-bind:elements="citizens">
                    </names-page>
                    <names-page 
                        v-if="atPage('guardians') && departmentId != null" 
                        :loading="guardiansLoading"
                        v-on:add="addGuardian($event)" 
                        nameproperty="userName" 
                        idproperty="userId" 
                        v-on:update="updateCitizen($event)" 
                        v-on:delete="deleteCitizen($event)" 
                        deletetitle="Fjern Pædagog" 
                        addtitle="Opret Pædagog" 
                        haspassword="true" 
                        edittitle="Rediger Pædagog" 
                        v-bind:elements="guardians">
                    </names-page>
                    <names-page 
                        v-if="atPage('departments')" 
                        :loading="departmentsLoading"
                        v-on:add="addDepartment($event)" 
                        nameproperty="name" 
                        idproperty="id" 
                        v-on:update="updateDepartment($event)" 
                        v-on:delete="deleteDepartment($event)" 
                        deletetitle="Fjern Afdeling" 
                        addtitle="Opret Afdeling" 
                        haspassword="false" 
                        edittitle="Rediger Afdeling" 
                        v-bind:elements="departments">
                    </names-page>
                </v-container>
            </v-content>
        </v-app>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

    <script type="text/x-template" id="names-template">
        <v-card>
            <v-dialog v-model="dialog" max-width="500px">
                <v-card>
                    <v-card-title>
                    <span class="headline" v-text="isEditing ? edittitle : addtitle"></span>
                    </v-card-title>
                    <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                        <v-flex xs12 sm12 md12>
                            <v-text-field v-model="editedItem[nameproperty]" label="Navn"></v-text-field>
                            <v-text-field type="password" v-if="!isEditing && haspassword == 'true'" v-model="editedItem.password" label="Password"></v-text-field>
                        </v-flex>
                        </v-layout>
                    </v-container>
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="close">Annuller</v-btn>
                    <v-btn color="blue darken-1" flat @click.native="save">Gem</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="deleteDialog" max-width="500px">
                    <v-card>
                        <v-card-title>
                        <span class="headline" v-text="deletetitle"></span>
                        </v-card-title>
                        <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                            <v-flex xs12 sm12 md12>
                                Er du sikker på at du vil slette '{{deletedItem[nameproperty]}}'?
                            </v-flex>
                            </v-layout>
                        </v-container>
                        </v-card-text>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="deleteDialog = false">Annuller</v-btn>
                        <v-btn color="red darken-1" flat @click.native="deleteElement(deletedItem)">Slet</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            <v-card-title>
                <v-layout row>
                    <v-flex xs5>
                    <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs7  class="text-xs-right">
                        <v-btn color="primary" @click="addElement" class="mx-0">{{addtitle}}</v-btn>
                    </v-flex>
                </v-layout>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="elements"
                :search="search"
                :loading="loading"
            >
                <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                <template slot="items" slot-scope="props">
                <td style="max-width: 100px;">{{ props.item[nameproperty] }}</td>
                <td class="text-xs-right">
                    <v-btn fab small dark color="primary" @click="editElement(props.item)">
                        <v-icon color="white">edit</v-icon>
                    </v-btn>
                    <v-btn fab small dark color="red lighten-1" class="mx-0" @click="promptDelete(props.item)">
                        <v-icon color="white">delete</v-icon>
                    </v-btn>
                </td>
                </template>
                <v-alert slot="no-results" :value="true" color="info" icon="warning">
                Strengen "{{ search }}" gav ingen resulater.
                </v-alert>
            </v-data-table>
            </v-card>
    </script>
    <script>
    Vue.component('names-page', {
        template: '#names-template',
        props: [ 'elements', 'add', 'update', 'delete', 'nameproperty', 'loading', 'idproperty', 'addtitle', 'deletetitle', 'edittitle', 'haspassword' ],
        data () {
            var self = this;
            var editedItem = {};
            editedItem[this.nameproperty] = null;
            return {
                editedItem: editedItem,
                deletedItem: editedItem,
                search: '',
                dialog: false,
                deleteDialog: false,
                isEditing: false,
                headers: [
                    {
                        text: 'Navn',
                        align: 'left',
                        value: self.nameproperty
                    },
                    {
                        text: "Handlinger",
                        align: 'right',
                        value: self.idproperty
                    }
                ]
            };
        },
        methods: {
            close () {
                this.dialog = false;
            },
            addElement() {
                this.isEditing = false;
                this.editedItem = {
                    password: null
                };
                this.editedItem[this.nameproperty] = null;
                this.dialog = true;
            },
            editElement(element) {
                this.isEditing = true;
                this.editedItem = {};
                this.editedItem[this.idproperty] = element[this.idproperty];
                this.editedItem[this.nameproperty] = element[this.nameproperty];
                this.dialog = true;
            },
            promptDelete(element) {
                this.deletedItem = element;
                this.deleteDialog = true;
            },
            deleteElement(element) {
                this.elements.splice(this.elements.indexOf(element), 1);
                this.$emit("delete", element);
                this.deleteDialog = false;
            },
            save() {
                if (this.isEditing) {
                    var self = this;
                    var existing = this.elements.filter(function (u) { return u[self.idproperty] == self.editedItem[self.idproperty]; })[0];
                    this.elements[this.elements.indexOf(existing)] = this.editedItem;
                    this.elements.push();
                    this.$emit("update", { newItem: this.editedItem, oldItem: existing });
                } else {
                    this.elements.push(this.editedItem);
                    this.$emit("add", this.editedItem);
                }
                
                this.close();
            }
        }
    });
    </script>

    <script>
    var app = new Vue({
        el: '#app',
        data() {
            var user = JSON.parse(localStorage.getItem("user"));
            if(user == undefined)
                this.logout();
            var pages = [
                { icon: "people", name: "citizens", title: "Borgere" },
                { icon: "people", name: "guardians", title: "Pædagoger" },
            ];
            if(user.role == "SuperUser")
                pages.splice(0, 0, { icon: "location_city", name: "departments", title: "Afdelinger" });
            pages.push({ icon: "lock", name: "logout", title: "Log ud" });
            return {
                id: user.id,
                departmentId: user.departmentId == "" ? null : parseInt(user.departmentId),
                citizensLoading: false,
                guardiansLoading: false,
                departmentsLoading: false,
                drawer: null,
                token: user.token,
                role: user.role,
                username: user.username,
                citizens: [],
                guardians: [],
                departments: [],
                currentPage: pages[0],
                pages: pages
            };
        },
        methods: {
            init() {
                this.pageSelected(this.currentPage);
            },
            pageSelected(page) {
                this.currentPage = page;
                this.getDepartments();
                if(this.currentPage.name == "logout")
                    this.logout();
                if(this.currentPage.name == "citizens" && this.departmentId != null)
                    this.getCitizens(this.departmentId);
                if(this.currentPage.name == "guardians" && this.departmentId != null)
                    this.getGuardians(this.departmentId);
                if(this.currentPage.name == "departments")
                    this.getDepartments();
            },
            logout() {
                localStorage.removeItem("user");
                window.location = "/admin/login.html";
            },
            roleString(role) {
                if(role == "Guardian"){
                    return "Pædagog";
                }
                if(role == "Department"){
                    return "Afdeling";
                }
                if(role == "SuperUser"){
                    return "Administrator";
                }
            },
            departmentChanged(departmentId) {
                if(this.currentPage.name == "citizens")
                    this.getCitizens(departmentId);
                if(this.currentPage.name == "guardians")
                    this.getGuardians(departmentId);
            },
            getCitizens(departmentId) {
                var self = this;
                this.citizensLoading = true;
                $.ajax({
                    url: "/v1/Department/" + departmentId + "/",
                    headers: { "Authorization": "Bearer " + self.token },
                    success: function (data) {
                        self.citizens = data.data.members.filter(function(m) { return m.userRole == "Citizen"; });
                        self.citizensLoading = false;
                    }
                });
            },
            getGuardians(departmentId) {
                var self = this;
                this.guardiansLoading = true;
                $.ajax({
                    url: "/v1/Department/" + departmentId + "/",
                    headers: { "Authorization": "Bearer " + self.token },
                    success: function (data) {
                        self.guardians = data.data.members.filter(function(m) { return m.userRole == "Guardian"; });
                        self.guardiansLoading = false;
                    }
                });
            },
            getDepartments() {
                var self = this;
                this.departmentsLoading = true;
                $.ajax({
                    url: "/v1/Department/",
                    headers: { "Authorization": "Bearer " + self.token },
                    success: function (data) {
                        self.departments = data.data;
                        self.departmentsLoading = false;
                    }
                });
            },
            atPage(pageName){
                return this.currentPage.name == pageName;
            },
            addCitizen(citizen) {
                this.register(this.citizens, citizen, "Citizen");
            },
            addGuardian(guardian) {
                this.register(this.guardians, guardian, "Guardian");
            },
            addDepartment(department) {
                var self = this;
                $.ajax({
                    url: "/v1/Department/",
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(department),
                    headers: { "Authorization": "Bearer " + self.token },
                    success: function (data) {
                        if (!data.success)
                            self.departments.splice(self.departments.indexOf(department), 1);
                        else
                            department.id = data.data.id;
                    }
                });
            },
            register(users, user, role) {
                var self = this;
                user.departmentId = self.departmentId;
                user.role = role;
                user.password = user.password || "password";
                $.ajax({
                    url: "/v1/Account/register",
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(user),
                    headers: { "Authorization": "Bearer " + self.token },
                    success: function (data) {
                        if (!data.success)
                            users.splice(users.indexOf(user), 1);
                        else
                            user.userId = data.data.id;
                    }
                });
            },
            updateCitizen(e) {
                this.updateUser(this.citizens, e.oldItem, e.newItem);
            },
            updateGuardian(e) {
                this.updateUser(this.guardians, e.oldItem, e.newItem);
            },
            updateDepartment(e) {
                alert("Add call to api");
                var self = this;
                $.ajax({
                    url: "/v1/Department/" + e.oldItem.id,
                    type: 'PUT',
                    contentType: "application/json",
                    data: JSON.stringify(e.newItem),
                    headers: { "Authorization": "Bearer " + self.token },
                    success: function (data) {
                        if (!data.success) {
                            self.departments[self.departments.indexOf(e.newItem)] = e.oldItem;
                            self.departments.push();
                        }
                    }
                });
            },
            updateUser(users, oldUser, newUser) {
                var self = this;
                newUser.screenName = newUser.userName;
                $.ajax({
                    url: "/v1/User/" + oldUser.userId,
                    type: 'PUT',
                    contentType: "application/json",
                    data: JSON.stringify(newUser),
                    headers: { "Authorization": "Bearer " + self.token },
                    success: function (data) {
                        if (!data.success) {
                            users[elements.indexOf(newUser)] = oldUser;
                            users.push();
                        }
                    }
                });
            },
            deleteCitizen(citizen){
                var self = this;
                $.ajax({
                    url: "/v1/Account/user/" + citizen.userId,
                    type: 'DELETE',
                    contentType: "application/json",
                    headers: { "Authorization": "Bearer " + self.token },
                    success: function (data) {
                        if (!data.success) {
                            self.citizens.push(citizen);
                        }
                    }
                });
            },
            deleteGuardian(guardian){
                var self = this;
                $.ajax({
                    url: "/v1/Account/user/" + guardian.userId,
                    type: 'DELETE',
                    contentType: "application/json",
                    headers: { "Authorization": "Bearer " + self.token },
                    success: function (data) {
                        if (!data.success) {
                            self.guardians.push(guardian);
                        }
                    }
                });
            },
            deleteDepartment(department){
                var self = this;
                $.ajax({
                    url: "/v1/Department/" + department.id,
                    type: 'DELETE',
                    contentType: "application/json",
                    headers: { "Authorization": "Bearer " + self.token },
                    success: function (data) {
                        if (!data.success) {
                            self.departments.push(department);
                        }
                    }
                });
            }
        }
    });
    app.init();
    </script>
    



</body>
</html>