<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
</head>
<body>
    <div id="app">
        <v-app id="inspire">
            <v-navigation-drawer
            fixed
            v-model="drawer"
            app
            mobile-break-point="800"
            >
            <v-toolbar flat>
                <v-toolbar-title>Giraf Administration</v-toolbar-title>
            </v-toolbar>
            <v-divider></v-divider>
            <v-list dense>
                <v-list-tile v-for="page in pages" :key="page.name" @click="pageSelected(page)">
                    <v-list-tile-action>
                        <v-icon v-text="page.icon"></v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title v-text="page.title"></v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            </v-navigation-drawer>
            <v-toolbar color="primary" dark fixed app>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title v-text="currentPage.title"></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-title v-text="username + ' (' + roleString(role) + ')'"></v-toolbar-title>
            </v-toolbar>
            <v-content>
                <v-container fluid fill-width>
                    <password-page 
                        v-if="atPage('reset')"
                        v-bind:user-id="id"
                        v-bind:token="token"
                        v-bind:reset-token="resetToken"
                        v-bind:username="username"
                    >
                    </password-page>
                    <v-layout row wrap v-if="(atPage('citizens') || atPage('guardians')) && role == 'SuperUser'">
                        <v-flex xs6>
                            <v-subheader style="margin-top: 10px;" class="bold">Vælg Afdeling:</v-subheader>
                        </v-flex>
                        <v-flex xs6>
                            <v-select
                            :items="departments"
                            item-text="name"
                            item-value="id"
                            v-model="departmentId"
                            @change="departmentChanged($event)"
                            label="Afdeling"
                            single-line
                            ></v-select>
                        </v-flex>
                    </v-layout>
                    <names-page v-bind:visibleif="atPage('citizens') && departmentId != null" 
                        :loading="citizensLoading"
                        v-on:add="addCitizen($event)" 
                        v-bind:token="token"
                        v-bind:elementid="id"
                        nameproperty="userName" 
                        idproperty="userId" 
                        deletetitle="Fjern Borger" 
                        v-on:delete="deleteCitizen($event)" 
                        v-on:update="updateCitizen($event)" 
                        addtitle="Opret Borger" 
                        haspassword="false" 
                        showgeneratepassword="true"
                        showdelete="true"
                        showedit="true"
                        edittitle="Rediger Borger" 
                        v-bind:elements="citizens">
                    </names-page>
                    <names-page 
                        v-bind:visibleif="atPage('guardians') && departmentId != null" 
                        :loading="guardiansLoading"
                        v-on:add="addGuardian($event)" 
                        v-bind:token="token"
                        v-bind:elementid="id"
                        nameproperty="userName" 
                        idproperty="userId" 
                        v-on:update="updateCitizen($event)" 
                        v-on:delete="deleteCitizen($event)" 
                        deletetitle="Fjern Pædagog" 
                        addtitle="Opret Pædagog" 
                        haspassword="true" 
                        v-bind:showdelete="(role == 'Department' || role == 'SuperUser') ? 'true' : 'false'" 
                        v-bind:showgeneratepassword="(role == 'Department' || role == 'SuperUser') ? 'true' : 'false'" 
                        v-bind:showedit="(role == 'Department' || role == 'SuperUser') ? 'true' : 'false'" 
                        edittitle="Rediger Pædagog" 
                        v-bind:elements="guardians">
                    </names-page>
                    <names-page 
                        v-bind:visibleif="atPage('departments')" 
                        :loading="departmentsLoading"
                        v-on:add="addDepartment($event)" 
                        v-bind:token="token"
                        v-bind:elementid="id"
                        nameproperty="name" 
                        idproperty="id" 
                        v-on:update="updateDepartment($event)" 
                        v-on:delete="deleteDepartment($event)" 
                        deletetitle="Fjern Afdeling" 
                        addtitle="Opret Afdeling" 
                        haspassword="false" 
                        showgeneratepassword="false" 
                        showdelete="true" 
                        showedit="true"
                        edittitle="Rediger Afdeling" 
                        v-bind:elements="departments">
                    </names-page>
                </v-container>
            </v-content>
        </v-app>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script type="text/x-template" id="names-template">
        <v-card v-if="visibleif">
            <v-dialog v-model="dialog" max-width="500px">
                <v-card>
                    <v-card-title>
                        <span class="headline" v-text="isEditing ? edittitle : addtitle"></span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field v-model="editedItem[nameproperty]" label="Navn"></v-text-field>
                                    <v-text-field type="password" v-if="!isEditing && haspassword == 'true'" v-model="editedItem.password" label="Password"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="close">Annuller</v-btn>
                        <v-btn color="blue darken-1" flat @click.native="save">Gem</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="dialog" max-width="500px">
                <v-card>
                    <v-card-title>
                        <span class="headline" v-text="isEditing ? edittitle : addtitle"></span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field v-model="editedItem[nameproperty]" label="Navn"></v-text-field>
                                    <v-text-field type="password" v-if="!isEditing && haspassword == 'true'" v-model="editedItem.password" label="Password"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="close">Annuller</v-btn>
                        <v-btn color="blue darken-1" flat @click.native="save">Gem</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="resetDialog" max-width="500px">
                <v-card>
                    <v-card-title>
                        <span class="headline">Link til at nulstille adgangskode</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md12>
                                    Kopier og send dette link til brugeren der skal have ny adgangskode <br>
                                    <v-text-field v-model="resetLink" onClick="this.setSelectionRange(0, this.value.length)" label="Reset link"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="resetDialog = false">OK</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="deleteDialog" max-width="500px">
                <v-card>
                    <v-card-title>
                        <span class="headline" v-text="deletetitle"></span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md12>
                                    Er du sikker på at du vil slette '{{deletedItem[nameproperty]}}'?
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="deleteDialog = false">Annuller</v-btn>
                        <v-btn color="red darken-1" flat @click.native="deleteElement(deletedItem)">Slet</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-card-title>
                <v-layout row>
                    <v-flex xs5>
                        <v-text-field v-model="search"
                                      append-icon="search"
                                      label="Søg"
                                      single-line
                                      hide-details></v-text-field>
                    </v-flex>
                    <v-flex xs7 class="text-xs-right">
                        <v-btn color="primary" @click="addElement" class="mx-0">{{addtitle}}</v-btn>
                    </v-flex>
                </v-layout>
            </v-card-title>
            <v-data-table :headers="headers"
                          :items="elements"
                          :search="search"
                          :loading="loading">
                <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                <template slot="items" slot-scope="props">
                    <td style="max-width: 100px;">{{ props.item[nameproperty] }}</td>
                    <td class="text-xs-right">
                        <v-tooltip bottom>
                            <v-btn slot="activator" v-if="showgeneratepassword == 'true'" fab small dark color="grey" class="mx-0" @click="showResetLink(props.item)">
                                <v-icon color="white">vpn_key</v-icon>
                            </v-btn>
                            <span>Nulstil adgangskode</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn slot="activator" v-if="showedit == 'true' || props.item[idproperty] == elementid" fab small dark color="primary" class="mx-0" @click="editElement(props.item)">
                                <v-icon color="white">edit</v-icon>
                            </v-btn>
                            <span>Rediger</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn slot="activator" v-if="showdelete == 'true'" fab small dark color="red lighten-1" class="mx-0" @click="promptDelete(props.item)">
                                <v-icon color="white">delete</v-icon>
                            </v-btn>
                            <span>Fjern</span>
                        </v-tooltip>
                    </td>
                </template>
                <v-alert slot="no-results" :value="true" color="info" icon="warning">
                    Strengen "{{ search }}" gav ingen resulater.
                </v-alert>
            </v-data-table>
        </v-card>
    </script>
    <script>
    Vue.component('names-page', {
        template: '#names-template',
        props: ['elements', 'elementid', 'visibleif', 'add', 'token', 'update', 'showgeneratepassword', 'showedit', 'showdelete', 'delete', 'nameproperty', 'loading', 'idproperty', 'addtitle', 'deletetitle', 'edittitle', 'haspassword' ],
        data: function () {
            var self = this;
            var editedItem = {};
            editedItem[this.nameproperty] = null;
            return {
                editedItem: editedItem,
                deletedItem: editedItem,
                dialog: false,
                search: '',
                deleteDialog: false,
                resetDialog: false,
                isEditing: false,
                resetLink: null,
                headers: [
                    {
                        text: 'Navn',
                        align: 'left',
                        value: self.nameproperty
                    },
                    {
                        text: "Handlinger",
                        align: 'right',
                        value: self.idproperty
                    }
                ]
            };
        },
        methods: {
            close () {
                this.dialog = false;
            },
            addElement() {
                this.isEditing = false;
                this.editedItem = {
                    password: null
                };
                this.editedItem[this.nameproperty] = null;
                this.dialog = true;
            },
            editElement(element) {
                this.isEditing = true;
                this.editedItem = {};
                this.editedItem[this.idproperty] = element[this.idproperty];
                this.editedItem[this.nameproperty] = element[this.nameproperty];
                this.dialog = true;
            },
            promptDelete(element) {
                this.deletedItem = element;
                this.deleteDialog = true;
            },
            deleteElement(element) {
                this.elements.splice(this.elements.indexOf(element), 1);
                this.$emit("delete", element);
                this.deleteDialog = false;
            },
            showResetLink(element) {
                var self = this;
                self.resetLink = null;
                self.resetDialog = true;
                $.ajax({
                    url: "../v1/User/" + element[this.idproperty] + "/Account/password-reset-token",
                    type: 'GET',
                    contentType: "application/json",
                    headers: { "Authorization": "Bearer " + self.token },
                    success: function (data) {
                        if(data.success){
                            self.resetLink = window.location.host + window.location.pathname + "?user-id=" + element[self.idproperty] + "&reset-token=" + encodeURIComponent(data.data) + "&username=" + element[self.nameproperty] + "&role=Resetting#reset";
                        }
                    }
                });
            },
            save() {
                if (this.isEditing) {
                    var self = this;
                    var existing = this.elements.filter(function (u) { return u[self.idproperty] == self.editedItem[self.idproperty]; })[0];
                    this.elements[this.elements.indexOf(existing)] = this.editedItem;
                    this.elements.push();
                    this.$emit("update", { newItem: this.editedItem, oldItem: existing });
                } else {
                    this.elements.push(this.editedItem);
                    this.$emit("add", this.editedItem);
                }
                
                this.close();
            }
        }
    });
    </script>
    <script type="text/x-template" id="password-template">
        <v-card>
            <v-card-text v-if="isSuccess == false" class="text-xs-center">
                <v-icon large>error</v-icon>
                <br>
                Adgangskoden blev ikke ændret.
                <br>
                <v-btn color="primary" @click="tryAgain" class="mx-0">Prøv igen</v-btn>
            </v-card-text>
            <v-card-text v-if="isSuccess == true" class="text-xs-center">
                <v-icon>check</v-icon>
                <br>
                Adgangskoden blev ændret.
                <br>
                <v-btn v-if="resetToken != null" color="primary" @click="login" class="mx-0">Log ind</v-btn>
            </v-card-text>
            <v-card-title v-if="isSuccess == null">
                <span class="headline">
                    Nulstil adgangskoden for '{{username}}'
                </span>
            </v-card-title>
            <v-card-text v-if="isSuccess == null" class="text-xs-right">
                <v-text-field v-if="resetToken == null" type="password" v-model="oldPassword" label="Nuværende adgangskode"></v-text-field>
                <v-text-field type="password" v-model="newPassword" label="Ny adgangskode"></v-text-field>
                <v-btn color="primary" @click="changePassword" class="mx-0">Skift Adgangskode</v-btn>
            </v-card-text>
        </v-card>
    </script>
    <script>
        //https://stackoverflow.com/questions/5448545/how-to-retrieve-get-parameters-from-javascript
        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            var items = location.search.substr(1).split("&");
            for (var index = 0; index < items.length; index++) {
                tmp = items[index].split("=");
                if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
            }
            return result;
        }

        Vue.component('password-page', {
            template: '#password-template',
            props: [ 'userId', 'reset-token', 'token', 'username' ],
            data () {
                return {
                    isSuccess: null,
                    oldPassword: null,
                    newPassword: null
                };
            },
            methods: {
                changePassword(){
                    var self = this;
                    if(this.resetToken == null){
                        $.ajax({
                            url: "../v1/User/" + self.userId + "/Account/password",
                            type: 'PUT',
                            contentType: "application/json",
                            data: JSON.stringify({ oldPassword: self.oldPassword, newPassword: self.newPassword }),
                            headers: { "Authorization": "Bearer " + self.token },
                            success: function (data) {
                                self.isSuccess = data.success;
                            }
                        });
                    } else {
                        $.ajax({
                            url: "../v1/User/" + self.userId + "/Account/password",
                            type: 'POST',
                            contentType: "application/json",
                            data: JSON.stringify({ token: self.resetToken, password: self.newPassword }),
                            success: function (data) {
                                self.isSuccess = data.success;
                            }
                        });
                    }
                },
                tryAgain() {
                    this.isSuccess = null;
                    this.oldPassword = null;
                    this.newPassword = null;
                },
                login() {
                    window.location = "./login.html";
                }
            }
        });
    </script>
    <script>
        var app = new Vue({
            el: '#app',
            data() {
                var pageName = window.location.hash.replace("#", "");
                var user = JSON.parse(localStorage.getItem("user"));
                var fromPassWordResetLink = false;
                var resetToken = null;
                if(user == undefined){
                    var userId = findGetParameter("user-id");
                    resetToken  = findGetParameter("reset-token");
                    var username  = findGetParameter("username");
                    var role  = findGetParameter("role");
                    if(userId != null && userId != "" && resetToken != null && resetToken != "" && username != null && username != "" && role != null && role != "" && pageName == "reset"){
                        user = {
                            id: userId,
                            token: null,
                            role: role,
                            username: username
                        };
                        fromPassWordResetLink = true; //If the user is not logged in but access admin panel through reset link
                    } else {
                        this.logout();
                    }
                }
                
                var pages = [];

                if(!fromPassWordResetLink) {
                    pages = [
                        { icon: "people", name: "citizens", title: "Borgere" },
                        { icon: "people", name: "guardians", title: "Pædagoger" },
                    ];
                    if(user.role == "SuperUser")
                        pages.splice(0, 0, { icon: "location_city", name: "departments", title: "Afdelinger" });
                    pages.push({ icon: "vpn_key", name: "reset", title: "Skift adgangskode" });
                    pages.push({ icon: "lock", name: "logout", title: "Log ud" });
                } else { 
                    //If accessed through reset link, then only show reset password page and log out
                    pages.push({ icon: "vpn_key", name: "reset", title: "Skift adgangskode" });
                    pages.push({ icon: "lock", name: "logout", title: "Log ud" });
                }

                return {
                    id: user.id,
                    departmentId: user.departmentId == "" ? null : parseInt(user.departmentId),
                    citizensLoading: false,
                    guardiansLoading: false,
                    departmentsLoading: false,
                    drawer: null,
                    search: '',
                    token: user.token,
                    resetToken: resetToken,
                    role: user.role,
                    username: user.username,
                    citizens: [],
                    guardians: [],
                    departments: [],
                    currentPage: pages[0],
                    pages: pages
                };
            },
            methods: {
                init() {
                    var pageName = window.location.hash.replace("#", "");
                    this.currentPage = this.pages.filter(function(p){ return p.name.toLowerCase() == pageName.toLowerCase(); })[0];
                    if(this.currentPage == null)
                        this.currentPage = this.pages[0];
                    this.pageSelected(this.currentPage);
                },
                pageSelected(page) {
                    this.currentPage = page;
                    this.getDepartments();
                    if(this.currentPage.name == "logout")
                        this.logout();
                    if(this.currentPage.name == "citizens" && this.departmentId != null)
                        this.getCitizens(this.departmentId);
                    if(this.currentPage.name == "guardians" && this.departmentId != null)
                        this.getGuardians(this.departmentId);
                    if(this.currentPage.name == "departments")
                        this.getDepartments();
                    window.location.hash = page.name;
                    if(window.innerWidth < 800) {
                        this.drawer = false;
                    }
                },
                logout() {
                    localStorage.removeItem("user");
                    window.location = "./login.html";
                },
                roleString(role) {
                    if(role == "Guardian"){
                        return "Pædagog";
                    }
                    if(role == "Department"){
                        return "Afdeling";
                    }
                    if(role == "SuperUser"){
                        return "Administrator";
                    }
                    return role;
                },
                departmentChanged(departmentId) {
                    if(this.currentPage.name == "citizens")
                        this.getCitizens(departmentId);
                    if(this.currentPage.name == "guardians")
                        this.getGuardians(departmentId);
                },
                getCitizens(departmentId) {
                    var self = this;
                    this.citizensLoading = true;
                    $.ajax({
                        url: "../v1/Department/" + departmentId + "/",
                        headers: { "Authorization": "Bearer " + self.token },
                        success: function (data) {
                            self.citizens = data.data.members.filter(function(m) { return m.userRole == "Citizen"; });
                            self.citizensLoading = false;
                        }
                    });
                },
                getGuardians(departmentId) {
                    var self = this;
                    this.guardiansLoading = true;
                    $.ajax({
                        url: "../v1/Department/" + departmentId + "/",
                        headers: { "Authorization": "Bearer " + self.token },
                        success: function (data) {
                            self.guardians = data.data.members.filter(function(m) { return m.userRole == "Guardian"; });
                            self.guardiansLoading = false;
                        }
                    });
                },
                getDepartments() {
                    var self = this;
                    this.departmentsLoading = true;
                    $.ajax({
                        url: "../v1/Department/",
                        headers: { "Authorization": "Bearer " + self.token },
                        success: function (data) {
                            self.departments = data.data;
                            self.departmentsLoading = false;
                        }
                    });
                },
                atPage(pageName){
                    return this.currentPage.name == pageName;
                },
                addCitizen(citizen) {
                    this.register(this.citizens, citizen, "Citizen");
                },
                addGuardian(guardian) {
                    this.register(this.guardians, guardian, "Guardian");
                },
                addDepartment(department) {
                    var self = this;
                    $.ajax({
                        url: "../v1/Department/",
                        type: 'POST',
                        contentType: "application/json",
                        data: JSON.stringify(department),
                        headers: { "Authorization": "Bearer " + self.token },
                        success: function (data) {
                            if (!data.success)
                                self.departments.splice(self.departments.indexOf(department), 1);
                            else
                                department.id = data.data.id;
                        }
                    });
                },
                register(users, user, role) {
                    var self = this;
                    user.departmentId = self.departmentId;
                    user.role = role;
                    user.password = user.password || "password";
                    $.ajax({
                        url: "../v1/Account/register",
                        type: 'POST',
                        contentType: "application/json",
                        data: JSON.stringify(user),
                        headers: { "Authorization": "Bearer " + self.token },
                        success: function (data) {
                            if (!data.success)
                                users.splice(users.indexOf(user), 1);
                            else
                                user.userId = data.data.id;
                        }
                    });
                },
                updateCitizen(e) {
                    this.updateUser(this.citizens, e.oldItem, e.newItem);
                },
                updateGuardian(e) {
                    this.updateUser(this.guardians, e.oldItem, e.newItem);
                },
                updateDepartment(e) {
                    var self = this;
                    $.ajax({
                        url: "../v1/Department/" + e.oldItem.id + "/name",
                        type: 'PUT',
                        contentType: "application/json",
                        data: JSON.stringify(e.newItem),
                        headers: { "Authorization": "Bearer " + self.token },
                        success: function (data) {
                            if (!data.success) {
                                self.departments[self.departments.indexOf(e.newItem)] = e.oldItem;
                                self.departments.push();
                            }
                        }
                    });
                },
                updateUser(users, oldUser, newUser) {
                    var self = this;
                    newUser.displayName = newUser.userName;
                    $.ajax({
                        url: "../v1/User/" + oldUser.userId,
                        type: 'PUT',
                        contentType: "application/json",
                        data: JSON.stringify(newUser),
                        headers: { "Authorization": "Bearer " + self.token },
                        success: function (data) {
                            if (!data.success) {
                                users[elements.indexOf(newUser)] = oldUser;
                                users.push();
                            }
                        }
                    });
                },
                deleteCitizen(citizen){
                    var self = this;
                    $.ajax({
                        url: "../v1/Account/user/" + citizen.userId,
                        type: 'DELETE',
                        contentType: "application/json",
                        headers: { "Authorization": "Bearer " + self.token },
                        success: function (data) {
                            if (!data.success) {
                                self.citizens.push(citizen);
                            }
                        }
                    });
                },
                deleteGuardian(guardian){
                    var self = this;
                    $.ajax({
                        url: "../v1/Account/user/" + guardian.userId,
                        type: 'DELETE',
                        contentType: "application/json",
                        headers: { "Authorization": "Bearer " + self.token },
                        success: function (data) {
                            if (!data.success) {
                                self.guardians.push(guardian);
                            }
                        }
                    });
                },
                deleteDepartment(department){
                    var self = this;
                    $.ajax({
                        url: "../v1/Department/" + department.id,
                        type: 'DELETE',
                        contentType: "application/json",
                        headers: { "Authorization": "Bearer " + self.token },
                        success: function (data) {
                            if (!data.success) {
                                self.departments.push(department);
                            }
                        }
                    });
                }
            }
        });
        app.init();
    </script>
</body>
</html>
